x-popup {
	&.slideshow {
		width: 600px;

		x-title-bar {
			bbackground: url(https://www.textures.com/system/gallery/photos/Ornaments/Borders/38002/OrnamentBorder0076_1_download600.jpg);
		}

		x-popup-content-outer {
			bbackground: url(https://www.textures.com/system/gallery/photos/Wood/Planks/Old%20Planks/114867/WoodPlanksOld0024_5_download600.jpg);
		}

		x-popup-content-inner {
			padding: 0;
		}

		x-button {
			bbackground: url(https://www.textures.com/system/gallery/photos/Rock/Sediment/50909/RockSediment0034_1_download600.jpg);
		}

		x-slide {
			display: flex;
		}
	}
}

x-slides {
	position: relative;
	width: 100%;
	height: 300px;
	color: white;
	background: black;
	ffilter: contrast(150%);
}

x-slide {
	position: absolute;
	width: 100%;
	height: 100%;
	background: gray;
	/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
	//animation: 10s ease-out 0s both zooms;
	box-sizing: border-box;
	padding: 60px 30px;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	x-caption {
		position: relative;
		color: red;
		font-family: "Macondo", serif;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;
		text-shadow: 0 0 5px darkred;
		text-align: center;
		animation: 1s ease-in-out 500ms both slide-fade/*, 10s ease-in-out 0s forwards caption-slide*/;
		white-space: break-spaces;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;

		x {
			display: inline-flex;
			text-decoration: underline;
			ffont-weight: 600;
		}
	}
}

@keyframes caption-slide {
	from {
		left: 0;
	}

	to {
		left: -10px;
	}
}

@keyframes slide-fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slide-bottom {
	from {
		background-size: 130%;
		background-position: 50% 100%;
	}

	to {
		background-size: 100%;
		background-position: 50% 0%;
	}
}

@keyframes slide-fall {
	from {
		background-size: 150%;
		background-position: 66% 0%;
	}

	to {
		background-size: 100%;
		background-position: 50% 50%;
	}
}

@keyframes slide-top-to-bottom {
	from {
		background-size: 100%;
		background-position: 0% 0%;
	}

	to {
		background-size: 100%;
		background-position: 0% 100%;
	}
}

@keyframes slide-zoom {
	from {
		background-size: 140%;
		background-position: 50% 50%;
	}

	to {
		background-size: 100%;
		background-position: 50% 50%;
	}
}

@keyframes slide-left {
	from {
		background-size: 130%;
		background-position: 100% 50%;
	}

	to {
		background-size: 100%;
		background-position: 0% 50%;
	}
}

@keyframes slide-shadow-king {
	from {
		background-size: 140%;
		background-position: 80% 0%;
	}

	to {
		background-size: 110%;
		background-position: 66% 16%;
	}
}