/* lessc styles.less styles.css */
@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/itim/v14/0nknC9ziJOYewAQ.ttf) format('truetype');
}
x-popup {
  position: absolute;
  top: 300px;
  width: 300px;
  box-sizing: border-box;
  color: #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 0 4px #1f1f1f;
  display: flex;
  flex-direction: column;
}
x-popup.persist {
  position: relative;
  top: 0;
  width: 100%;
  width: calc(100% - 60px);
  margin: 30px;
  height: 200px;
}
x-popup.persist x-title-bar {
  bbackground: url(img/titlebar.png);
}
x-popup.character x-popup-content {
  height: 100px;
}
x-popup.terminal {
  width: 325px;
}
x-popup.terminal x-title-bar {
  bbackground: url(img/metal2.png);
  bbackground-position: -5px -5px;
  bbackground-size: 100%;
}
x-popup.terminal x-popup-content {
  bborder: 0;
}
x-popup.terminal x-popup-content-inner {
  ppadding: 0;
}
x-popup.world-map {
  width: 350px;
}
x-popup.world-map x-title-bar {
  bbackground: url(https://www.textures.com/system/gallery/photos/Ornaments/Borders/38002/OrnamentBorder0076_1_download600.jpg);
  bbackground-size: 100%;
  bbackground-position: 0 71px;
}
x-popup.world-map x-popup-content {
  hheight: 300px;
  bbackground: url(https://www.textures.com/system/gallery/photos/Wood/Planks/Old%20Planks/114867/WoodPlanksOld0024_5_download600.jpg);
}
x-popup x-title-bar {
  background: rgba(124, 124, 124, 0.8);
  background: url('img/TCom_OrnamentBorder0073_1_seamless_S.jpg');
  bbackground-attachment: fixed;
  background-size: 300px;
  background-position: 0px -380px;
  border: 2px outset #f7f7f7;
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  display: flex;
}
x-popup x-title-bar.dragging {
  bbackground: url(img/titlebar.png);
}
x-popup x-title-bar.dragging x-title {
  cursor: grabbing;
  text-decoration: underline;
}
x-popup x-title-bar x-title-bar-inner {
  width: 100%;
  border-radius: 3px;
  bbackground: rgba(123, 123, 123, 0.5);
  display: flex;
}
x-popup x-title-bar x-title-bar-inner x-title {
  text-transform: lowercase;
  cursor: grab;
  width: 100%;
  color: #202c41;
  text-shadow: 0px 0px 4px #757575;
  padding: 0 30px;
  border: 4px outset rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  bbox-shadow: inset 0 0 5px rgba(8, 22, 35, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
x-popup x-title-bar x-title-bar-inner x-button {
  cursor: pointer;
  wwidth: 27px;
  color: #002661;
  font-weight: bold;
  text-decoration: underline;
  text-wrap: nowrap;
  border: 1px outset #ededed;
  border-radius: 5px;
  background: url('img/TCom_OrnamentBorder0073_1_seamless_S.jpg');
  background-attachment: local;
  background-size: 300px;
  background-position: 35px 18px;
  margin: 0px 0px;
  display: flex;
}
x-popup x-title-bar x-title-bar-inner x-button x-button-grad {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(126, 126, 126, 0.6) 100%);
  /* box-shadow: inset 0 0 4px #535353; */
  /* backdrop-filter: blur(1px); */
  display: flex;
}
x-popup x-title-bar x-title-bar-inner x-button x-button-grad x-button-inner {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border: 5px outset rgba(255, 255, 255, 0.6);
  text-shadow: 0px 0px 2px #3d3800;
  border-radius: inherit;
  padding: 0 6px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
x-popup x-title-bar x-title-bar-inner x-button[data-a="min"] {
  /* margin-right: 2px; */
}
x-popup x-horz {
  margin: 4px;
  box-sizing: border-box;
  bborder-bottom: 1px solid #dbdbdb;
  width: auto;
  display: flex;
}
x-popup x-top t-text {
  bborder: 1px solid #dbdbdb;
  border-radius: 3px;
  text-decoration: underline;
}
x-popup x-popup-content {
  color: #dbdbdb;
  color: #272727;
  ttext-shadow: 0 0 2px #363636;
  width: 100%;
  height: 100%;
  hheight: 300px;
  box-sizing: border-box;
  border: 2px outset #a3a3a3c7;
  border: 2px outset #818181c7;
  border: 2px solid #8b8b8bc7;
  border-radius: 2px;
  background: url(img/rocks.jpg);
  /* padding: 10px; */
  display: flex;
}
x-popup x-popup-content x-popup-content-inner {
  width: 100%;
  height: 100%;
  padding: 6px;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(128, 133, 133, 0.9) 0%, rgba(97, 101, 100, 0.9) 100%);
  display: flex;
  flex-direction: column;
}
x-popup x-popup-content x-relative {
  /* width: inherit; */
  /* height: inherit; */
  position: relative;
  display: flex;
}
x-popup x-popup-content x-overlay {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  color: #383838;
  font-size: 11px;
  font-family: monospace;
  /* text-shadow: 0 0 1px black; */
}
x-popup x-popup-content x-world-map {
  -webkit-user-drag: none;
  cursor: grab;
  border: 2px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: scroll;
}
x-popup x-popup-content x-world-map svg {
  position: absolute;
  left: 0;
  top: 0;
}
x-popup x-popup-content x-world-map x-world-map-scaler {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
x-popup x-popup-content x-world-map x-world-map-graphic {
  position: absolute;
  width: 2048px;
  height: 1536px;
  background: url(img/WestPit.jpg);
  background-size: 100%;
  display: flex;
}
x-popup x-popup-content x-world-map x-region {
  cursor: pointer;
  position: absolute;
  display: flex;
}
x-popup x-popup-content x-world-map x-place {
  cursor: pointer;
  position: absolute;
  color: white;
  width: 100px;
  margin: -1.6em -50px;
  display: flex;
  justify-content: center;
}
x-popup x-popup-content x-world-map x-place.selected {
  ccolor: black;
  text-decoration: underline;
}
x-popup x-popup-content x-world-map x-place.large {
  font-size: 20px;
}
x-popup x-popup-content x-world-map x-flag {
  z-index: 1;
  position: absolute;
  background: url(img/flag.png);
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin: -20px -3px;
  display: flex;
}
x-popup x-popup-content x-world-map.dragging {
  cursor: grabbing;
}
x-popup x-popup-content x-world-map::-webkit-scrollbar-thumb {
  background: #979797;
  border-radius: 3px;
}
x-terminal {
  /* width: 100%; */
  height: 200px;
  background: #2e2f33;
  background: radial-gradient(#272a2e, #1c1e21);
  color: #5d9964;
  /* padding: 10px; */
  /* padding: 0; */
  box-sizing: border-box;
  border: 5px inset rgba(155, 155, 155, 0.5);
  border-radius: 0px;
  /* box-shadow: inset 0 0 20px #5e7269b5; */
  /* transform: perspective(300px) scale(1) rotateX(2deg); */
  display: flex;
}
x-terminal x-terminal-inner {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  background-image: linear-gradient(0deg, #22000000 50%, rgba(17, 153, 0, 0.19) 100%);
  background-size: 2px 2px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
}
x-world-map-info {
  z-index: 100;
  position: absolute;
  display: flex;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  bbackground: #808080;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  bbackground: #808080;
}
x-action-bar {
  border: 2px solid rgba(17, 17, 17, 0.5);
  border-radius: 3px;
  background: linear-gradient(180deg, rgba(48, 54, 58, 0.95) 0%, rgba(53, 61, 68, 0.95) 100%);
  bbackground: url(img/border2.png);
  background-position: -2px 0px;
  ppadding: 10px;
  margin: 10px;
  height: 70px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
x-action-bar x-row {
  display: flex;
}
x-action-bar x-slot {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  bbackground: url(img/border.png);
  bborder: 2px solid rgba(41, 50, 58, 0.8);
  bborder-radius: 4px;
  mmargin: 1px;
  display: flex;
  justify-content: center;
}
x-action-bar x-slot x-inner {
  width: 100%;
  height: 100%;
  /* background: rgba(136, 141, 145, 0.9); */
  background: rgba(20, 24, 26, 0.7);
  background: linear-gradient(225deg, rgba(31, 33, 36, 0.8) 0%, rgba(22, 24, 25, 0.8) 100%);
  bborder: 2px outset #23232347;
  border-radius: 2px;
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
x-action-bar x-slot x-inner img {
  bborder: 1px outset #ffffff24;
  border-radius: 2px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}
body {
  overflow: hidden;
  touch-action: none;
  user-select: none;
  background: black;
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/20057bcc-b58c-42d7-84cf-1a511d80e27e/deqmx57-dbdc2ee3-f24e-4a82-83ba-2366fc051713.jpg/v1/fill/w_1024,h_640,q_75,strp/ironwood_forest_by_dvicko_deqmx57-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvMjAwNTdiY2MtYjU4Yy00MmQ3LTg0Y2YtMWE1MTFkODBlMjdlXC9kZXFteDU3LWRiZGMyZWUzLWYyNGUtNGE4Mi04M2JhLTIzNjZmYzA1MTcxMy5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.1pC-W97sTE1tis9LQHeAAKiVWHvHwUUcZvHyRmEN4uw');
  background-position: center;
  background-size: cover;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
x-main-area {
  position: relative;
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/20057bcc-b58c-42d7-84cf-1a511d80e27e/deqmx57-dbdc2ee3-f24e-4a82-83ba-2366fc051713.jpg/v1/fill/w_1024,h_640,q_75,strp/ironwood_forest_by_dvicko_deqmx57-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvMjAwNTdiY2MtYjU4Yy00MmQ3LTg0Y2YtMWE1MTFkODBlMjdlXC9kZXFteDU3LWRiZGMyZWUzLWYyNGUtNGE4Mi04M2JhLTIzNjZmYzA1MTcxMy5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.1pC-W97sTE1tis9LQHeAAKiVWHvHwUUcZvHyRmEN4uw');
  background-position: center;
  background-size: cover;
  min-width: 300px;
  min-height: 600px;
  max-width: 500px;
  max-height: 700px;
  width: 100%;
  height: 100%;
  font-family: 'Itim', cursive;
  font-size: 16px;
  bborder: 1px solid grey;
  border-radius: 6px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
x-top-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
x-top-area x-windows {
  position: relative;
}
x-logo {
  color: black;
  text-shadow: 0 0 1px white;
  bborder: 2px outset #eeeeee;
}
x-top-bar {
  z-index: 2;
  width: 100%;
  hheight: 40px;
  box-sizing: border-box;
  background: gray;
  background: url(img/titlebar.png);
  background: url(img/rocks.jpg);
  bbackground: url(https://www.textures.com/system/gallery/photos/Wood/Planks/Old%20Planks/122313/WoodPlanksOld0308_1_download600.jpg);
  /* background: rgba(110, 110, 110, 0.8); */
  bbackground-size: 100%;
  background-position: -1px -1px;
  bborder-bottom: 2px solid #9e9e9e87;
  border-radius: 0px;
  display: flex;
}
x-top-bar x-top-bar-inner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  bborder: 1px solid #686868;
  border-radius: 4px;
  bbox-shadow: inset 0 0 7px #00000070;
  background: rgba(120, 120, 120, 0.75);
  background: linear-gradient(180deg, rgba(183, 183, 183, 0.8) 0%, rgba(150, 150, 150, 0.8) 100%);
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}
x-top-bar x-top-bar-inner x-view-destination {
  z-index: 100;
}
x-dropdown-group {
  display: flex;
  flex-direction: column;
}
x-dropdown-group.view {
  pposition: relative;
  zz-index: 100;
  margin: 4px;
}
x-dropdown-group.view x-dropdown-button {
  color: #131313;
  border: 1px solid #727272;
  border-radius: 3px;
  mmargin: 4px;
  background: #a1a1a1b5;
  background: url(img/titlebar.png);
  background: url(img/rocks.jpg);
  box-shadow: inset 0 0 5px #ffffff;
}
x-dropdown-group.view x-dropdown-button x-dropdown-button-inner {
  padding: 0px 10px;
  background: rgba(166, 166, 166, 0.85);
  display: flex;
}
x-dropdown-group.view x-dropdown-offset x-dropdown {
  right: 0;
}
x-dropdown-group x-dropdown-button {
  /* background: linear-gradient(180deg, rgba(167, 167, 167, 0.9) 0%, rgba(150, 150, 150, 0.9) 100%); */
  display: flex;
}
x-dropdown-group x-dropdown-button x-dropdown-button-inner {
  display: flex;
}
x-dropdown-group x-dropdown-offset {
  display: flex;
}
x-dropdown-group x-dropdown-offset x-dropdown {
  display: none;
  z-index: 2;
  position: absolute;
  /* padding: 5px; */
  background: rgba(120, 120, 120, 0.75);
  background: url(img/rocks.jpg);
  background-position: 0 0px;
  background-size: 100%;
  border: 2px outset #7070704f;
  border: 2px outset #ffffff87;
  flex-direction: column;
}
x-dropdown-group x-dropdown-offset x-dropdown x-dropdown-inner {
  ppadding: 5px;
  background: rgba(165, 165, 165, 0.6);
  display: flex;
  flex-direction: column;
}
x-dropdown-group x-dropdown-offset x-dropdown x-dropdown-value {
  color: #f4f4f4;
  /* text-decoration: underline; */
  border-bottom: 1px solid #ffffff4d;
  border-radius: 2px;
  padding: 4px;
  margin: 2px;
}
x-dropdown-group x-dropdown-offset x-dropdown x-dropdown-value:hover {
  background: gray;
}
x-bars {
  width: 100%;
  margin: 0px;
  display: flex;
}
x-bars x-bar {
  position: relative;
  width: 50%;
  hheight: 20px;
  border: 1px outset rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-sizing: border-box;
  margin: 2px;
  display: flex;
  justify-content: center;
}
x-bars x-bar x-length {
  position: absolute;
  left: 0;
  border-right: 1px solid #626262;
  border-radius: inherit;
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  display: flex;
}
x-bars x-bar x-inner {
  position: relative;
}
x-bars x-bar.mana {
  background: #263b80;
}
x-bars x-bar.mana x-length {
  background: #1e2c9b;
}
x-bars x-bar.mana x-inner {
  color: #011130;
}
x-bars x-bar.health {
  background: #802626;
}
x-bars x-bar.health x-length {
  background: #9b1e1e;
}
x-bars x-bar.health x-inner {
  color: #442626;
}
x-tabs {
  width: 100%;
  margin: 5px;
  display: flex;
  jjustify-content: center;
}
x-tabs x-tab {
  color: #232323;
  color: #ececec;
  background: url(img/rocks.jpg);
  border: 2px solid transparent;
  border: 2px outset rgba(255, 255, 255, 0.5);
  border-bottom: none;
  margin: 0 2px;
  box-shadow: 0 0 4px #333333;
  display: flex;
}
x-tabs x-tab x-outer {
  background: rgba(145, 145, 145, 0.5);
  display: flex;
}
x-tabs x-tab x-outer x-inner {
  padding: 0 5px;
  bbackground: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(201, 201, 201, 0.3) 100%);
  display: flex;
}
x-tabs x-tab.active {
  bbackground: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(201, 201, 201, 0.3) 100%);
  bbackground: rgba(162, 175, 185, 0.9);
}
x-tab-content {
  width: 100%;
  height: 100%;
  bbackground: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(201, 201, 201, 0.3) 100%);
  display: flex;
}
x-button-wood {
  color: #e0e0e0;
  color: #1b1b1b;
  color: #20150a;
  text-shadow: 0 0 3px #6b6862;
  background: url(img/rocks.jpg);
  background: url(img/button.png);
  bbackground-size: 400%;
  background-position: -4px -1px;
  border: 2px outset rgba(199, 199, 199, 0.3);
  border-radius: 0px;
  box-shadow: 0 0 4px #333333;
  mmargin: 0 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
x-button-wood:hover {
  ccolor: #ad9f00;
  text-decoration: underline;
}
x-button-wood:hover x-x {
  bbackground: rgba(68, 76, 81, 0.9);
}
x-button-wood x-button-wood-outer {
  bborder: 2px outset rgba(180, 180, 180, 0.4);
  border-radius: 2px;
  background: rgba(96, 96, 96, 0.5);
  display: flex;
  flex-direction: column;
}
x-button-wood x-button-wood-outer x-button-wood-inner {
  border: 1px outset #e4e4e48f;
  border-radius: 4px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(127, 127, 127, 0) 50%, rgba(255, 255, 255, 0.1) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
  padding: 0 10px;
  box-shadow: inset 0 0 5px #606060;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
x-dialog {
  position: absolute;
  top: 100px;
  width: 300px;
  background: rgba(127, 127, 127, 0.8);
  bbackground: linear-gradient(180deg, rgba(107, 112, 112, 0.95) 0%, rgba(82, 88, 86, 0.95) 100%);
  bbackground: url(img/dialog.png);
  bbackground-position: 0px 78px;
  background-size: 100%;
  bborder: 1px outset rgba(160, 160, 160, 0.5);
  color: #e6e6e6;
  border-radius: 3px;
  ttext-shadow: 0 0 3px #6c6a66;
  box-shadow: 0 0 8px #1f1f1f;
  display: flex;
  flex-direction: column;
}
x-dialog x-title {
  height: 24px;
  color: #b5aea3;
  padding: 0px 10px;
  text-decoration: underline;
  bbackground: url(img/titlebar.png);
  display: flex;
  justify-content: center;
}
x-dialog x-text {
  padding: 20px;
  ccolor: #e6e6e6;
  hheight: 50px;
  ooverflow-y: scroll;
  display: flex;
  flex-direction: column;
}
x-dialog x-divider {
  border-top: 1px solid #777777;
  border-bottom: 1px solid #3e3e3e;
  display: flex;
}
x-dialog x-arrow {
  /* height: 100%; */
  /* border-right: 2px solid grey; */
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 10px solid #656565;
  display: flex;
}
x-dialog x-buttons-area {
  padding: 5px;
  ccolor: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
