/* lessc styles.less styles.css */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
body {
  background: black;
  background: url(https://cdnb.artstation.com/p/assets/images/images/025/914/673/4k/gaelle-seguillon-gaelle-seguillon-storm-peaks-2-6k.jpg?1587324674);
  background-position: center;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
rpg-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
rpg-where-a-bouts {
  font-size: 18px;
  width: 500px;
  bbackground: rgba(78, 78, 78, 0.25);
  bbackground: linear-gradient(135deg, rgba(127, 127, 127, 0) 0%, rgba(255, 250, 228, 0.15) 100%);
  border: 1px outset #b6b6b680;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
rpg-where-a-bouts rpg-title {
  color: #d7b372;
  padding: 0px;
  display: flex;
}
rpg-where-a-bouts rpg-text {
  padding: 20px;
  color: floralwhite;
  display: flex;
  flex-direction: column;
}
rpg-where-a-bouts rpg-divider {
  /* height: 100%; */
  /* border-right: 2px solid grey; */
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 10px solid #656565;
  display: flex;
}
rpg-where-a-bouts rpg-actions {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: #ebebeb;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
rpg-where-a-bouts rpg-actions rpg-action {
  text-shadow: 0 0 4px #403511;
  background: url(img/rocks.jpg);
  background-position: -10px -10px;
  border: 4px outset rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0 4px #444444;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
}
rpg-where-a-bouts rpg-actions rpg-action:hover {
  ccolor: #ad9f00;
  text-decoration: underline;
}
rpg-where-a-bouts rpg-actions rpg-action:hover rpg-x {
  bbackground: rgba(68, 76, 81, 0.9);
}
rpg-where-a-bouts rpg-actions rpg-action rpg-x {
  /* background: #5a6971ed; */
  border: 2px outset rgba(180, 180, 180, 0.5);
  border-radius: 2px;
  background: rgba(124, 128, 131, 0.9);
  display: flex;
}
rpg-where-a-bouts rpg-actions rpg-action rpg-x rpg-x {
  border: 1px outset #e4e4e48f;
  border-radius: 4px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(127, 127, 127, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(127, 127, 127, 0.2) 100%);
  padding: 10px 30px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
