/* lessc styles.less styles.css */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway&display=swap');

body {
	background: black;
	background: url(https://cdnb.artstation.com/p/assets/images/images/025/914/673/4k/gaelle-seguillon-gaelle-seguillon-storm-peaks-2-6k.jpg?1587324674);
	background-position: center;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}

rpg-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}

rpg-where-a-bouts {
	font-size: 22px;
	height: 3em;
	color: white;
	display: flex;
	align-content: center;
	align-items: center;

	rpg-text {
		width: 500px;
		height: 100%;
		background: rgb(65 65 65 / 70%);
		background: linear-gradient(0deg, rgba(127, 127, 127, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
		border: 1px outset #b6b6b680;
		border-radius: 6px;
		padding: 40px;
		display: flex;
		align-items: center;
	}

	rpg-divider {
		/* height: 100%; */
		/* border-right: 2px solid grey; */
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
		border-left: 10px solid #656565;
		display: flex;
	}

	rpg-actions {
		padding: 40px;
		display: flex;
		fflex-direction: column;

		rpg-action {
			font-family: 'EB Garamond', serif;
			font-size: 20px;
			text-decoration: underline;
			color: #9f9f9f;
			color: #d1c4b9;
			wwidth: 220px;
			/* margin: 5px; */
			background: #004b6c;
			background: url(img/rocks.jpg);
			background-position: -10px -10px;
			border: 4px outset #ffffff7a;
			border-radius: 4px;
			/* outline: 1px outset #95959580; */
			box-shadow: 0 0 4px #444444;
			box-sizing: border-box;
			margin: 10px;
			display: flex;

			rpg-x {
				/* background: #5a6971ed; */
				border: 2px solid rgb(104 104 104 / 90%);
				border-radius: 2px;
				text-align: center;
				width: 100%;
				display: flex;

				rpg-x {
					background: rgb(58 67 73 / 90%);
					display: flex;

					rpg-x {
						font-weight: 400;
						/* text-shadow: 0 0 4px #727272; */
						border: 1px solid #bebebe6b;
						background: linear-gradient(0deg, rgb(255 255 255 / 0%) 0%, rgb(112 112 112 / 10%) 100%);
						bbackground: linear-gradient(0deg, rgb(255 255 255 / 10%) 0%, rgb(127 127 127 / 10%) 50%, rgb(255 255 255 / 10%) 100%);
						border-radius: 4px;
						padding: 0 10px;
						display: flex;
						justify-content: center;
					}
				}
			}
		}
	}
}