/* lessc styles.less styles.css */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
body {
  background: black;
  background: url(https://cdnb.artstation.com/p/assets/images/images/025/914/673/4k/gaelle-seguillon-gaelle-seguillon-storm-peaks-2-6k.jpg?1587324674);
  background-position: center;
  background-size: cover;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
rpg-main-area {
  background: url(https://cdnb.artstation.com/p/assets/images/images/025/914/673/4k/gaelle-seguillon-gaelle-seguillon-storm-peaks-2-6k.jpg?1587324674);
  background-position: center;
  background-size: cover;
  min-width: 300px;
  min-height: 600px;
  max-width: 500px;
  max-height: 700px;
  width: 100%;
  height: 100%;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  bborder: 1px solid grey;
  border-radius: 6px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
rpg-button-stone {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  color: #e0e0e0;
  color: #000000;
  ttext-shadow: 0 0 3px #6c6a66;
  background: url(img/rocks.jpg);
  bbackground-position: -10px -10px;
  border: 4px outset rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0 4px #333333;
  mmargin: 0 10px;
  cursor: pointer;
  display: flex;
}
rpg-button-stone:hover {
  ccolor: #ad9f00;
  text-decoration: underline;
}
rpg-button-stone:hover rpg-x {
  bbackground: rgba(68, 76, 81, 0.9);
}
rpg-button-stone rpg-outer {
  bborder: 2px outset rgba(180, 180, 180, 0.5);
  border-radius: 2px;
  background: rgba(124, 128, 131, 0.9);
  display: flex;
}
rpg-button-stone rpg-outer rpg-inner {
  border: 1px outset #e4e4e48f;
  border-radius: 4px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(127, 127, 127, 0.1) 50%, rgba(255, 255, 255, 0.2) 100%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(201, 201, 201, 0.3) 100%);
  padding: 0 5px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
rpg-dialog {
  width: 300px;
  background: rgba(139, 139, 139, 0.25);
  background: linear-gradient(180deg, rgba(105, 105, 105, 0.95) 0%, rgba(80, 78, 77, 0.95) 100%);
  border: 1px outset rgba(160, 160, 160, 0.5);
  border-radius: 6px;
  box-shadow: 0 0 8px #3c3c3c;
  display: flex;
  flex-direction: column;
}
rpg-dialog rpg-title {
  ffont-size: 22px;
  ffont-weight: bold;
  ccolor: #d7b372;
  padding: 0px;
  display: flex;
}
rpg-dialog rpg-text {
  padding: 20px;
  color: #e6e6e6;
  display: flex;
  flex-direction: column;
}
rpg-dialog rpg-divider {
  border-top: 1px solid gray;
  display: flex;
}
rpg-dialog rpg-arrow {
  /* height: 100%; */
  /* border-right: 2px solid grey; */
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 10px solid #656565;
  display: flex;
}
rpg-dialog rpg-buttons-area {
  padding: 5px;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
rpg-bars {
  width: 100%;
  margin: 0px;
  display: flex;
}
rpg-bars rpg-bar {
  position: relative;
  width: 50%;
  hheight: 20px;
  border: 1px outset rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-sizing: border-box;
  margin: 2px;
  display: flex;
  justify-content: center;
}
rpg-bars rpg-bar rpg-length {
  position: absolute;
  left: 0;
  border-right: 1px solid #626262;
  border-radius: inherit;
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  display: flex;
}
rpg-bars rpg-bar rpg-inner {
  position: relative;
}
rpg-bars rpg-bar.mana {
  background: #263b80;
}
rpg-bars rpg-bar.mana rpg-length {
  background: #1e2c9b;
}
rpg-bars rpg-bar.mana rpg-inner {
  color: #011130;
}
rpg-bars rpg-bar.health {
  background: #802626;
}
rpg-bars rpg-bar.health rpg-length {
  background: #9b1e1e;
}
rpg-bars rpg-bar.health rpg-inner {
  color: #442626;
}
rpg-action-bar {
  bborder: 1px outset rgba(160, 160, 160, 0.5);
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(55, 64, 72, 0.95) 0%, rgba(37, 44, 53, 0.95) 100%);
  padding: 10px;
  margin: 10px;
  height: 62px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
rpg-action-bar rpg-row {
  display: flex;
}
rpg-action-bar rpg-slot {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background: url(img/rocks.jpg);
  /* border: 2px outset rgba(255, 255, 255, 0.5); */
  border: 2px solid rgba(9, 11, 11, 0.8);
  bborder-radius: 4px;
  margin: 1px;
  display: flex;
  justify-content: center;
}
rpg-action-bar rpg-slot rpg-inner {
  width: 100%;
  height: 100%;
  /* background: rgba(136, 141, 145, 0.9); */
  background: rgba(22, 26, 27, 0.95);
  background: linear-gradient(225deg, rgba(26, 29, 34, 0.95) 0%, rgba(16, 20, 22, 0.95) 100%);
  bborder: 1px outset #ffffff17;
  bborder: 1px outset #0000003b;
  bborder-radius: 3px;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
rpg-action-bar rpg-slot rpg-inner img {
  border: 1px outset #ffffff3b;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
