/* lessc styles.less styles.css */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Nanum+Myeongjo&family=Prata&display=swap');

body {
	touch-action: none;
	user-select: none;
	background: black;
	background: url(https://cdnb.artstation.com/p/assets/images/images/025/914/673/4k/gaelle-seguillon-gaelle-seguillon-storm-peaks-2-6k.jpg?1587324674);
	background-position: center;
	background-size: cover;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

x-main-area {
	position: relative;
	background: url(https://cdnb.artstation.com/p/assets/images/images/025/914/673/4k/gaelle-seguillon-gaelle-seguillon-storm-peaks-2-6k.jpg?1587324674);
	background-position: center;
	background-size: cover;
	min-width: 300px;
	min-height: 600px;
	max-width: 500px;
	max-height: 700px;
	width: 100%;
	height: 100%;
	font-family: 'EB Garamond', serif;
	font-size: 18px;
	bborder: 1px solid grey;
	border-radius: 6px;
	margin: 0px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

x-top-area {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

x-top-bar {
	z-index: 2;
	width: 100%;
	hheight: 40px;
	box-sizing: border-box;
	background: gray;
	background: url(img/titlebar.png);
	background: url(img/rocks.jpg);
	bbackground: url(https://www.textures.com/system/gallery/photos/Wood/Planks/Old%20Planks/122313/WoodPlanksOld0308_1_download600.jpg);
	/* background: rgba(110, 110, 110, 0.8); */
	bbackground-size: 100%;
	background-position: -1px -1px;
	bborder-bottom: 2px solid #9e9e9e87;
	border-radius: 0px;
	display: flex;

	x-top-bar-inner {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		bborder: 1px solid #686868;
		border-radius: 4px;
		bbox-shadow: inset 0 0 7px #00000070;
		background: rgb(120 120 120 / 75%);
		background: linear-gradient(180deg, rgb(183 183 183 / 80%) 0%, rgba(150, 150, 150, 0.80) 100%);
		padding: 0px;
		display: flex;
		justify-content: flex-end;

		x-dropdown-destination {}
	}
}

x-dropdown-group {
	display: flex;
	flex-direction: column;

	&.view {
		margin: 4px;

		x-dropdown-button {
			color: #131313;
			border: 1px solid #727272;
			border-radius: 3px;
			mmargin: 4px;
			background: #a1a1a1b5;
			background: url(img/titlebar.png);
			background: url(img/rocks.jpg);
			box-shadow: inset 0 0 5px #ffffff;

			x-dropdown-button-inner {
				padding: 0px 10px;
				background: rgb(166 166 166 / 85%);
				display: flex;
			}
		}

		x-dropdown-offset {
			x-dropdown {
				right: 0;
			}
		}
	}

	x-dropdown-button {
		/* background: linear-gradient(180deg, rgba(167, 167, 167, 0.9) 0%, rgba(150, 150, 150, 0.9) 100%); */
		display: flex;

		x-dropdown-button-inner {
			display: flex;
		}
	}

	x-dropdown-offset {
		display: flex;

		x-dropdown {
			display: none;
			z-index: 2;
			position: absolute;
			/* padding: 5px; */
			background: rgba(120, 120, 120, 0.75);
			background: url(img/rocks.jpg);
			background-position: 0 0px;
			background-size: 100%;
			border: 2px outset #7070704f;
			border: 2px outset #ffffff87;
			flex-direction: column;

			x-dropdown-inner {
				ppadding: 5px;
				background: rgb(165 165 165 / 60%);
				display: flex;
				flex-direction: column;
			}

			x-dropdown-value {
				color: #f4f4f4;
				/* text-decoration: underline; */
				border-bottom: 1px solid #ffffff4d;
				border-radius: 2px;
				padding: 4px;
				margin: 2px;

				&:hover {
					background: gray;
				}
			}
		}
	}
}

x-bars {
	width: 100%;
	margin: 0px;
	display: flex;

	x-bar {
		position: relative;
		width: 50%;
		hheight: 20px;
		border: 1px outset rgb(255 255 255 / 50%);
		border-radius: 3px;
		box-sizing: border-box;
		margin: 2px;
		display: flex;
		justify-content: center;

		x-length {
			position: absolute;
			left: 0;
			border-right: 1px solid #626262;
			border-radius: inherit;
			box-sizing: border-box;
			width: 20%;
			height: 100%;
			display: flex;
		}

		x-inner {
			position: relative;
		}

		&.mana {
			background: #263b80;

			x-length {
				background: #1e2c9b;
			}

			x-inner {
				color: #011130;
			}
		}

		&.health {
			background: #802626;

			x-length {
				background: #9b1e1e;
			}

			x-inner {
				color: #442626;
			}
		}
	}
}

x-tabs {
	width: 100%;
	margin: 5px;
	display: flex;
	jjustify-content: center;

	x-tab {
		color: #232323;
		color: #ececec;
		background: url(img/rocks.jpg);
		border: 2px solid transparent;
		border: 2px outset rgb(255 255 255 / 50%);
		border-bottom: none;
		margin: 0 2px;
		box-shadow: 0 0 4px #333333;
		display: flex;

		x-outer {
			background: rgb(145 145 145 / 50%);
			display: flex;

			x-inner {
				padding: 0 5px;
				bbackground: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(201, 201, 201, 0.3) 100%);
				display: flex;
			}
		}

		&.active {
			bbackground: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(201, 201, 201, 0.3) 100%);
			bbackground: rgb(162 175 185 / 90%);
		}
	}

}

x-tab-content {
	width: 100%;
	height: 100%;
	bbackground: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(201, 201, 201, 0.3) 100%);
	display: flex;
}

@faint-blue: rgb(124 128 131 / 90%);
@faint-white: rgb(149 149 149 / 90%);

x-button-wood {
	ffont-size: 18px;
	color: #e0e0e0;
	color: #1b1b1b;
	color: #20150a;
	text-shadow: 0 0 3px #6b6862;
	background: url(img/rocks.jpg);
	background: url(img/button.png);
	bbackground-size: 400%;
	background-position: -4px -1px;
	border: 2px outset rgb(199 199 199 / 30%);
	border-radius: 0px;
	box-shadow: 0 0 4px #333333;
	mmargin: 0 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;

	&:hover {
		ccolor: #ad9f00;
		text-decoration: underline;

		x-x {
			bbackground: rgb(68 76 81 / 90%);
		}
	}

	x-button-wood-outer {
		bborder: 2px outset rgba(180, 180, 180, 0.4);
		border-radius: 2px;
		background: rgb(96 96 96 / 50%);
		display: flex;
		flex-direction: column;

		x-button-wood-inner {
			border: 1px outset #e4e4e48f;
			border-radius: 4px;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(127, 127, 127, 0.0) 50%, rgba(255, 255, 255, 0.1) 100%);
			background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 20%) 100%);
			padding: 0 10px;
			box-shadow: inset 0 0 5px #606060;
			white-space: nowrap;
			display: flex;
			justify-content: center;
		}
	}
}

x-dialog {
	position: absolute;
	top: 100px;
	width: 300px;
	background: rgb(127 127 127 / 80%);
	bbackground: linear-gradient(180deg, rgba(107, 112, 112, 0.95) 0%, rgb(82 88 86 / 95%) 100%);
	bbackground: url(img/dialog.png);
	bbackground-position: 0px 78px;
	background-size: 100%;
	bborder: 1px outset rgb(160 160 160 / 50%);
	color: #e6e6e6;
	border-radius: 3px;
	ttext-shadow: 0 0 3px #6c6a66;
	box-shadow: 0 0 8px #1f1f1f;
	display: flex;
	flex-direction: column;

	x-title {
		height: 24px;
		color: #b5aea3;
		padding: 0px 10px;
		text-decoration: underline;
		bbackground: url(img/titlebar.png);
		display: flex;
		justify-content: center;
	}

	x-text {
		padding: 20px;
		ccolor: #e6e6e6;
		hheight: 50px;
		ooverflow-y: scroll;
		display: flex;
		flex-direction: column;
	}

	x-divider {
		border-top: 1px solid #777777;
		border-bottom: 1px solid #3e3e3e;
		display: flex;
	}

	x-arrow {
		/* height: 100%; */
		/* border-right: 2px solid grey; */
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
		border-left: 10px solid #656565;
		display: flex;
	}

	x-buttons-area {
		padding: 5px;
		ccolor: #e0e0e0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

x-window {
	position: absolute;
	top: 300px;
	width: 300px;
	box-sizing: border-box;
	color: #e6e6e6;
	border-radius: 3px;
	box-shadow: 0 0 8px #1f1f1f;
	display: flex;
	flex-direction: column;

	&.persist {
		position: relative;
		top: 0;
		width: 100%;
		height: 200px;

		x-title-bar {
			bbackground: url(img/titlebar.png);
		}
	}

	&.character {
		x-window-content {
			height: 100px;
		}
	}

	&.world-map {
		x-title-bar {
			background: url(img/titlebar.png);
		}
	}

	x-title-bar {
		color: #cdcdcd;
		font-size: 16px;
		background: rgb(124 124 124 / 80%);
		border: 2px outset #ffffffa8;
		border-radius: 3px 3px 0 0;
		display: flex;

		&.dragging {
			x-title {
				cursor: grabbing;
				text-decoration: underline;
			}

			background: url(img/titlebar.png);
		}

		x-title-bar-inner {
			width: 100%;
			border-radius: 3px;
			background: #292f377d;
			text-shadow: 0px 0px 8px black;
			display: flex;

			x-title {
				cursor: grab;
				width: 100%;
				border: 2px outset #ffffff87;
				border-radius: 3px;
				box-shadow: inset 0 0 10px #000000a6;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			x-button {
				cursor: pointer;
				ffont-weight: bold;
				wwidth: 28px;
				height: 28px;
				color: #322626;
				border: 1px solid #5c4e4e;
				border-radius: 4px;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(150, 150, 150, 0.5) 100%);
				bbox-shadow: 0 0 2px #333333;
				/* box-shadow: inset 0 0 10px #371a1ad9; */
				display: flex;

				x-button-inner {
					width: inherit;
					height: inherit;
					box-sizing: border-box;
					border: 4px outset rgba(255, 255, 255, 0);
					border-radius: 5px;
					box-shadow: inset 0 0 8px #2300006b;
					/* box-shadow: inset 0 0 8px rgb(0 0 0 / 35%); */
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			x-button[data-a="min"] {
				margin-right: 1px;
			}

			x-button[data-a="close"] {}
		}

	}

	x-window-content {
		width: 100%;
		height: 100%;
		height: 300px;
		box-sizing: border-box;
		border: 2px outset #a3a3a3c7;
		border: 2px outset #818181c7;
		border: 2px solid #8b8b8bc7;
		border-radius: 2px;
		background: url(img/rocks.jpg);
		/* padding: 10px; */
		display: flex;

		x-inner {
			width: 100%;
			height: 100%;
			padding: 6px;
			box-sizing: border-box;
			background: linear-gradient(180deg, rgba(107, 112, 112, 0.95) 0%, rgba(80, 86, 84, 0.95) 100%);
			display: flex;
		}

		x-world-map {
			width: 100%;
			height: 100%;
			background: url(img/map.jpg);
			background-position: -100px 0px;
			background-size: 200%;
			display: flex;
		}
	}

}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #808080;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #525252;
}

x-action-bar {
	border: 2px solid rgb(17 17 17 / 50%);
	border-radius: 3px;
	background: linear-gradient(180deg, rgba(48, 54, 58, 0.95) 0%, rgba(53, 61, 68, 0.95) 100%);
	bbackground: url(img/border2.png);
	background-position: -2px 0px;
	ppadding: 10px;
	margin: 10px;
	height: 70px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;

	x-row {
		display: flex;
	}

	x-slot {
		width: 60px;
		height: 60px;
		box-sizing: border-box;
		bbackground: url(img/border.png);
		bborder: 2px solid rgb(41 50 58 / 80%);
		bborder-radius: 4px;
		mmargin: 1px;
		display: flex;
		justify-content: center;

		x-inner {
			width: 100%;
			height: 100%;
			/* background: rgba(136, 141, 145, 0.9); */
			background: rgb(20 24 26 / 70%);
			background: linear-gradient(225deg, rgb(31 33 36 / 80%) 0%, rgb(22 24 25 / 80%) 100%);
			bborder: 2px outset #23232347;
			border-radius: 2px;
			padding: 6px;
			box-sizing: border-box;
			display: flex;
			justify-content: center;

			img {
				bborder: 1px outset #ffffff24;
				border-radius: 2px;
				box-sizing: border-box;
				width: 100%;
				height: 100%;
			}
		}
	}
}